.p1 {
    font-family: "Times New Roman", Times, serif;
  }


img {
    border-radius: 5.5%;
    size: 10%;
    font-size: medium;
}
p {
    color: blueviolet
}

h1 {
    color:green
}
